<div class="container">
  <a href="/signin">Signin</a>
  <a href="/signup">Signup</a>
  <a href="/logout">Logout</a>
  <a href="/upload">Upload</a>
</div>

<div class="signin">
  <form action='/signin' method='post'>
    <input type="text" name="name" required placeholder="Username">
    <input type="password" name="password" required placeholder="Password">
    <input type="submit" value="Sign in!">
  </form>
</div>
<div class="signup">
  <form action='/signup' method='post' autocomplete="off">
    <input type="text" name="name" required placeholder="Username">
    <input type="password" name="password" required placeholder="Password">
    <input type="text" name="email" required placeholder="Email">
    <input type="submit" value="Join Us!">
  </form>
</div>
